 [Unit]
Description=webblock Başlatıldı.
After=multi-user.target

[Service]
Type=simple
#Environment=export DISPLAY=:0
#ExecStartPre=/usr/bin/bash 
ExecStart=/usr/bin/webblock
#ExecStop=/usr/share/webblock
ExecStop=/usr/share/webblock/script/webblock-clean
Restart=on-failure

[Install]
WantedBy=multi-user.target
