 [Unit]
Description=e-agClient Başlatıldı.
After=multi-user.target

[Service]
Type=simple
#Environment=export DISPLAY=:0
ExecStart=/usr/bin/e-ag-client 1>/usr/share/e-ag/Client.log 2>ClientError.log

[Install]
WantedBy=multi-user.target
