Package: e-ag-client-dbgsym
Source: e-ag-client
Version: 2.2.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 31
Depends: e-ag-client (= 2.2.0)
Section: debug
Priority: optional
Description: debug symbols for e-ag-client
Build-Ids: 15cbf8ad09f19ebac03b0ae7a8b9328fcadd916a
