Package: e-ag-client-dbgsym
Source: e-ag-client
Version: 2.1.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 785
Depends: e-ag-client (= 2.1.0)
Section: debug
Priority: optional
Description: debug symbols for e-ag-client
Build-Ids: 0473f99abd38b0c368ae96f77263fa21caecd341
