Source: e-ag-client
Section: utils
Priority: optional
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Build-Depends: debhelper (>= 13), 
    qtdeclarative5-dev
Standards-Version: 3.9.8
Homepage: http://pardus.org.tr

Package: e-ag-client
Architecture: amd64
Depends: libavcodec59 (>=7:5.0) | libavcodec61 (>=7:5.0) | libavcodec62 (>=7:5.0),
	libavformat59 (>=7:5.0) | libavformat61  (>=7:5.0) | libavformat62 (>=7:5.0),
	libavutil57  (>=7:5.0)  | libavutil59  (>=7:5.0) | libavutil60  (>=7:5.0),
	libswscale6  (>=7:5.0)  | libswscale8  (>=7:5.0) | libswscale9  (>=7:5.0),
	libqt5core5a,
	libqt5gui5,
	libqt5network5,
	libqt5widgets5,
	libqt5x11extras5,
	openssh-server,
	x11vnc,
	xtightvncviewer,
	net-tools,
	ethtool,
	wakeonlan,
	iptables,
	xorgxrdp,
	xrdp,
	libqt5multimedia5,
	libqt5multimediawidgets5,
	libqt5multimedia5-plugins,
	ffmpeg,
	libvlc5,
	xdg-utils,
	dnsutils,
	xinput,
	ipset,
	libpcap0.8,
	jq,
	wmctrl,
	xdotool
Description: e-ag İstemci Uygulaması
